.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

img{
    margin: 40px;
}

a{
    color: black;
    font-weight: bold;
}

.mainOptions_container_error{
    padding: 15px 35px 15px 35px;
    margin-top: 20px;
    border-color: rgba(217, 30, 24, 0.7);
    border-style: solid;
    border-radius: 10px;
}

.mainOptions_text{
    font-size: 25px;
}
