.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}


a{
    color: black;
}

.mainOptions_container{
    padding: 15px 35px 15px 35px;
    margin-top: 20px;
    border-color: rgba(38, 166, 91, 0.5);
    border-style: solid;
    border-radius: 10px;
}

.mainOptions_text{
    margin: 15px;
    font-size: 25px;
    font-weight: bold;
}

.additionalOptions_container{
    padding: 15px;
    margin-top: 20px;
    border-color: rgba(38, 166, 91, 0.5);
    border-style: solid;
    border-radius: 10px;
}

.additionalOptions_text{
    margin: 5px;
    color: black;
}

.additionalOptions_link{
    color: forestgreen;
    font-weight: bold;
}

