.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

img{
    margin: 40px;
}

a{
    color: black;
    font-weight: bold;
}

.mainOptions_text{
    font-size: 25px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.alert {
    padding: 20px;
    background-color: rgba(217, 30, 24, 0.7);
    color: white;
}

.success {
    padding: 20px;
    background-color: rgba(38, 166, 91, 0.7);
    color: white;
}
